*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#body{
    font-family:  'Lobster', cursive;
}

#lB {
    font-size: 35px;
    
}

.filtro{
    display: none;
}

.imgPro {
    width: 200px;
    height: 200px;
}
